h1{font-family: 'Shojumaru', cursive;
   
}

body{ 
    
    background-image: url("../image/background.png");
    background-repeat: no-repeat;
    background-size:cover;
}



}
 
  
/* #myImage{ 
    display: none;
} */

    
h1{
    font-size: 100px
        

       
}


li{
    font-family: 'Shojumaru', cursive;
    font-size: 100px
}

    